*.[ao]
*.hi
*.swp*
*.orig
*.rej
Main
MustacheTemplates.hs
PathHelpers.hs
Routes.hs
*.db
*.sqlite3
tests/suite
dist/*
report.html
dist-ghc/*
build-*-stamp
debian/files
debian/hlibrary.setup
debian/libghc*
debian/tmp*
debian/dh_*
