*.[ao]
*.hi
*.swp*
*.orig
*.rej
Main
MustacheTemplates.hs
PathPieces.hs
Routes.hs
dev.db
tests/suite
dist/*
report.html
dist-ghc/*
build-*-stamp
debian/files
debian/hlibrary.setup
debian/libghc*
debian/tmp*
debian/dh_*
