html, body {
	background-color: #abcdef;
	font-family: "Liberation Sans", sans-serif;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2em;
}

body > h1 {
	overflow: hidden;
}

h1 * {
	vertical-align: middle;
}

h1 img {
	float: left;
	padding-right: 5em;
}

.rippleAddress {
	font-size: 0.5em;
}

a[rel=enclosure] img {
	position: relative;
	top: 4px;
}
