<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ripple Union Credit Report for {{address}}</title>

		<link rel="shortcut icon" type="image/png" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/common.css" />
		<!--[if lt IE 9]> <script src="//rippleunion.com/html5shiv.js"></script> <![endif]-->
		<style type="text/css">
			input { display: block; }
		</style>
	</head>

	<body>
		<header>
			<h1><a href="//rippleunion.com/"><img src="//rippleunion.com/logo.png" alt="Ripple Union" /></a> Credit Report for <span class="rippleAddress">{{address}}</span></h1>

			<nav>
				<ul>
					<li><a href="//etransfer.rippleunion.com/">Interac e-Transfer</a></li>
					<li><a href="//giftcards.rippleunion.com/">Amazon Giftcards</a></li>
					<li><a href="//shop.rippleunion.com/">Shop</a></li>
					<li><a href="//faq.rippleunion.com/">FAQ</a></li>
				</ul>
			</nav>
		</header>


		<section>
			<h1>Assertions</h1>

			<ul>
			{{#assertions}}
				<li>
					<a href="data:application/pgp-encrypted;base64,{{signedAssertion}}" rel="enclosure"><img src="/assets/arrow_down.gif" alt="download signed assertion" title="download signed assertion" /></a>

					<time datetime="{{at8601}}">{{atHuman}}</time> —
					<a href="http://singpolyma.net:11371/pks/lookup?op=vindex&amp;search=0x{{#row}}{{fromFingerprint}}{{/row}}">{{keyId}}</a>
					{{#otcNick}}
						[<a href="http://bitcoin-otc.com/viewratingdetail.php?nick={{otcNick}}&amp;sign=ANY&amp;type=RECV">otc</a>]
					{{/otcNick}}
					asserted that this address
					{{#row}}
						{{asserted}}
					{{/row}}
				</li>
			{{/assertions}}
			</ul>
		</section>

		<section>
			<h1>Downloads to sign</h1>
			<ul>
				<li><a href="?newAssertion=made%20a%20payment">made a payment</a></li>
				<li><a href="?newAssertion=missed%20a%20payment">missed a payment</a></li>
				<li><a href="?newAssertion=chargeback">chargeback</a></li>
				<li><a href="?newAssertion=not%20trusted">not trusted</a></li>
			</ul>
		</section>

		<form method="post" action="" enctype="multipart/form-data">
			<label for="assertion">Upload assertion</label>
			<input type="file" id="assertion" name="assertion" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
