<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ripple Union Credit Report for {{address}}</title>

		<style type="text/css">
			html, body {
				background-color: #abcdef;
				font-family: "Liberation Sans", sans-serif;
			}

			body {
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 2em;
			}

			h1 * {
				vertical-align: middle;
			}

			h1 img {
				padding-right: 5em;
			}
		</style>
	</head>

	<body>
		<h1><img src="logo.png" alt="Ripple Union" /> Credit Report for {{address}}</h1>
	</body>
</html>
