<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<base href="http://rippleunion.com/" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Submit Assertion for {{formAddress}}</title>

		<style type="text/css">
			html, body {
				background-color: #abcdef;
				font-family: "Liberation Sans", sans-serif;
			}

			body {
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 2em;
			}

			body > h1 {
				overflow: hidden;
			}

			h1 * {
				vertical-align: middle;
			}

			h1 img {
				float: left;
				padding-right: 5em;
			}

			.rippleAddress {
				font-size: 0.5em;
			}

			a[rel=enclosure] img {
				position: relative;
				top: 4px;
			}

			input {
				display: block;
			}
		</style>
	</head>

	<body>
		<h1><img src="/logo.png" alt="Ripple Union" /> Submit Assertion for <span class="rippleAddress">{{formAddress}}</span></h1>

		<form method="post" action="{{formAction}}" enctype="multipart/form-data">
			<label for="assertion">OpenPGP signed assertion</label>
			<input type="file" id="assertion" name="assertion" />
			<input type="submit" value="Submit" />
		</form>

	</body>
</html>
